@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcooooome</h1>
    <p>Learn about <a href="login.cshtml">building Web apps with ASP.NET Core</a>.</p>
</div>
