@{
    ViewData["Title"] = "Add Users and Courses";
    Layout = "_NoMenuLayout";
}

<!-- This is the page where a secreatry can add a new user  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Register a new user</title>
    <style>
        form {
            border: 3px solid whitesmoke;
            background-color: white;
        }

        * {
            font-family: candara;
        }

        p {
            color: white;
            font-size: 18px;
            margin: 4px 0;
            width: auto;
        }

        body {
            background-color: seagreen;
        }

        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            box-sizing: border-box;
            border: 1px solid mediumseagreen;
        }
        
        button {
            color: white;
            padding: 10px 18px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: auto;
        }

        button:hover {
            opacity: 0.8;
        }
   
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 16%;
            border-radius: 70%;
        }
   
        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
            color: #012A6C
        }
 
        a:visited {
            color: #012A6C;
        }

        a {
            font-size: 16px;
            color: #012A6C;
        }

        #error_message {
            background: #fe8b8e;
            text-align: center;
            font-size: 16px;
            transition: all 0.5s ease;
            width: 97%;
            margin: 8px 0;
            display: inline-block;
            box-sizing: border-box;
            color: white;
            font-weight: bold;
            padding: 0px;
        }
    </style>
</head>
<body>
    <form asp-action="RegisterUserToDatabase" asp-controller="Secretary" method="post" onsubmit="return validation()">
        <br />
        <div class="imgcontainer">
            <img src="~/images/grade_icon.png" alt="logo_image" class="avatar">
        </div>
        <center><div id="error_message"></div></center>
        <div class="container">
            <label><b style="color:#012A6C">What do you want to add?&nbsp;</b></label>
            <label><b style="color:#012A6C">Professor</b></label>
            <input type="radio" id="radio_professor" name="user_selection" value="professor" onclick="makeFieldsDisappear()">
            <label><b style="color:#012A6C">&nbsp; Student</b></label>
            <input type="radio" id="radio_student" name="user_selection" value="student" onclick="makeFieldsDisappear()">
            <label><b style="color:#012A6C">&nbsp; Course</b></label>
            <input type="radio" id="radio_course" name="user_selection" value="course" onclick="makeFieldsDisappear()">
        </div>
        <div class="container">
            <label id="label_username"><b style="color:#012A6C">Username: *</b></label>
            <input type="text" id="username" placeholder="Enter username" name="username" required>

            <label id="label_password"><b style="color:#012A6C">Password: *</b></label>
            <input type="password" id="password" placeholder="Enter password" name="password" required>

            <label id="label_firstname"><b style="color:#012A6C">First Name: *</b></label>
            <input type="text" id="firstname" placeholder="Enter first name" name="first_name" required>

            <label id="label_lastname"><b style="color:#012A6C">Last Name: *</b></label>
            <input type="text" id="lastname" placeholder="Enter last name" name="last_name" required>

            <label id="label_department"><b style="color:#012A6C">Department: *</b></label>
            <input type="text" id="department" placeholder="Enter department" name="department" required>

            <label id=label_AFM><b style="color:#012A6C">AFM: *</b></label>
            <input type="text" id="AFM" placeholder="Enter AFM" name="AFM" required>

            <label id="label_registratiosnumber"><b style="color:#012A6C">Registration Number: *</b></label>
            <input type="text" id="registratiosnumber" placeholder="Enter registration number" name="registration_number" required>

            <label id="label_coursetitle"><b style="color:#012A6C">Course title: *</b></label>
            <input type="text" id="coursetitle" placeholder="Enter course title" name="course_title" required>

            <label id="label_coursesemester"><b style="color:#012A6C">Course's semester number: *</b></label>
            <input type="text" id="coursesemester" placeholder="Enter course semester" name="course_semester" required>
            
            <label id="label_professorsAFM"><b style="color:#012A6C">Professor's AFM: *</b></label>
            <input type="text" id="professorsAFM" placeholder="Enter professors AFM" name="professors_AFM" required>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button style="background-color: #012A6C;" type="submit">Register</button>
            <button type="reset" class="cancelbtn">Reset</button>
        </div>
    </form>
    <br>
    <script>

        document.getElementById("radio_professor").checked = true;
        makeFieldsDisappear();

        function makeFieldsDisappear()
        {
            // hide or show labels and fields depending on what radio button is selected
            document.getElementById("username").hidden           = document.getElementById("label_username").hidden           = document.getElementById("radio_course").checked;
            document.getElementById("password").hidden           = document.getElementById("label_password").hidden           = document.getElementById("radio_course").checked;
            document.getElementById("firstname").hidden          = document.getElementById("label_firstname").hidden          = document.getElementById("radio_course").checked;
            document.getElementById("lastname").hidden           = document.getElementById("label_lastname").hidden           = document.getElementById("radio_course").checked;
            document.getElementById("department").hidden         = document.getElementById("label_department").hidden         = document.getElementById("radio_course").checked;
            document.getElementById("AFM").hidden                = document.getElementById("label_AFM").hidden                = document.getElementById("radio_course").checked || document.getElementById("radio_student").checked;
            document.getElementById("registratiosnumber").hidden = document.getElementById("label_registratiosnumber").hidden = document.getElementById("radio_course").checked || document.getElementById("radio_professor").checked;
            document.getElementById("coursetitle").hidden        = document.getElementById("label_coursetitle").hidden        = document.getElementById("radio_professor").checked || document.getElementById("radio_student").checked;
            document.getElementById("coursesemester").hidden     = document.getElementById("label_coursesemester").hidden     = document.getElementById("radio_professor").checked || document.getElementById("radio_student").checked;
            document.getElementById("professorsAFM").hidden      = document.getElementById("label_professorsAFM").hidden      = document.getElementById("radio_professor").checked || document.getElementById("radio_student").checked;

            document.getElementById("username").required            = document.getElementById("radio_professor").checked || document.getElementById("radio_student").checked;
            document.getElementById("password").required            = document.getElementById("radio_professor").checked || document.getElementById("radio_student").checked;
            document.getElementById("firstname").required           = document.getElementById("radio_professor").checked || document.getElementById("radio_student").checked;
            document.getElementById("lastname").required            = document.getElementById("radio_professor").checked || document.getElementById("radio_student").checked;
            document.getElementById("department").required          = document.getElementById("radio_professor").checked || document.getElementById("radio_student").checked;
            document.getElementById("AFM").required                 = document.getElementById("radio_professor").checked;
            document.getElementById("registratiosnumber").required  = document.getElementById("radio_student").checked;
            document.getElementById("coursetitle").required         = document.getElementById("radio_course").checked;
            document.getElementById("coursesemester").required      = document.getElementById("radio_course").checked;
            document.getElementById("professorsAFM").required       = document.getElementById("radio_course").checked;
        }

        // this function is used for form's validation on client's side
        function validation() {
            // get the values of inputs that user gave in the form
            var fullname = document.getElementById("fullname").value;
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            var text; // set a new variable
            // use a new variable for storing the errors during validation
            error_message.style.padding = "10px";
            // validation check begins
            // check first name
            if (!/^[A-Z][a-z]*\s[A-Z][a-z]*$/.test(fullname)) {
                text = "Your fullname includes your Name and Surname, which are separated with space. (ex. George Papadopoulos)";
                error_message.innerHTML = text;
                return false;
            }

            // check username
            if (!/\S/.test(username)) {
                text = "Username should not consist of only space characters!";
                error_message.innerHTML = text;
                return false;
            }
            // check password
            if (password.length < 4) {
                text = "Password consists of at least 4 characters!";
                error_message.innerHTML = text;
                return false;
            }
            return true; // everything is fine, no errors occurred
        }
    </script>
</body>
</html>
