<!-- This is the page that shows every error occured to the user -->
@model ErrorViewModel;

@{
    ViewData["Title"] = "Error";
    Layout = "_NoMenuLayout";
}


@{
    var error = ViewBag.Message;
}

<style>
    * {
        font-family: candara;
        color: white;
        font-family: 18px;
    }

    body {
        background-color: seagreen;
    }
</style>

<center>
    <br />
    <br />
    <h3>An error occurred while processing your request!</h3>
    <br />

    <img src="~/images/error.png" />

    <h4>Error explanation: @error.Explain</h4>
    <br />
    <br />
    <h5>You will be redirected to a new page in 10 seconds</h5>
</center>


<script type="text/javascript">
    function Redirect() {
        window.history.back();
        location.reload();
    }
    setTimeout('Redirect()', 10000);
</script>
